<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dettagli partita</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 id="match"></h2> <h3 id="ora"></h3>

    <h2>Punteggio: </h2> <p id="scores"></p>

    <h2>Eventi salienti: </h2>
    <ul id="events"></ul>

    <a href="http://localhost:8888">Torna alla schermata principale</a>

<script>
    const ws = new WebSocket("ws://localhost:8888/ws");

    const matchId = {{ id }};

    const match_tm = document.getElementById("ora")
    const match_vs = document.getElementById("match")
    const match_sc = document.getElementById("scores")
    const match_ev = document.getElementById("events")


    ws.onopen = () => {
        console.log("WebSocket aperto");
    };

    ws.onmessage = (event) => {
        const msg = JSON.parse(event.data);

        // Svuoto i dati gia presenti
        match_vs.innerHTML = "";
        match_sc.innerHTML = "";
        match_ev.innerHTML = "";
        match_tm.innerHTML = "";

        // Dati sulle partite
        const live_matches = msg.live;

        // Inserisco i dati
        // Partite Live
        live_matches.forEach(match => {
            console.log(match);

            // Se la partita è giusta
            if (match.id == matchId) {
                // Metto il tempo di gioco
                match_tm.innerHTML = `Tempo di gioco: ${match.time} ⏱`;

                // Prendo il nome delle squadre
                match_vs.innerHTML = `${match.teams[0]} / ${match.teams[1]} ▶️`;

                // Cambio i punti
                match_sc.innerHTML = `${match.scores[0]} - ${match.scores[1]}`;

                // Converto gli eventi in stringhe per essere visualizzabili
                let eventList = "";
                for (const event of match.events) {
                    eventList += `- Evento: ${event.type} =>
                                  Minutaggio: ${event.time}
                                  Dettagli: ${event.details} <br>`;
                }

                // Crea un nuovo elemento <li>
                const listItem = document.createElement('li');

                // Imposta il testo dell'elemento <li> con il valore dall'array
                listItem.innerHTML = `${eventList}`;

                match_ev.append(listItem);
            }

        });
    };

    ws.onclose = () => {
        console.log("WebSocket chiuso");
    };

</script>

</body>
</html>